<div class="contacts" id="contacts" [ngClass]="{'contacts-mobile' : innerWidth < '600', 'contacts' : innerWidth > '600'}">
  <div [ngClass]="{'map-mobile' : innerWidth < '600', 'map' : innerWidth > '600'}" id="map">
    <div id="wrapper-9cd199b9cc5410cd3b1ad21cab2e54d3">
      <div id="map-9cd199b9cc5410cd3b1ad21cab2e54d3"></div>
      <a href="https://1map.com/ru/map-embed">1 Map</a></div>
  </div>
  <div [ngClass]="{'info-mobile' : innerWidth < '600', 'info' : innerWidth > '600'}">
    <h1>Приходи к нам на тренировку</h1>
    <h3>Московская область, г.Одинцово, ул.Сколковская, 5а,</h3>
    <h1>Время работы</h1>
    <h2>Кафе</h2>
    <h3>с 08:00 до 22:00</h3>
    <h2>Спортзал</h2>
    <h3>пн, ср, пт с 07:00 до 22:00</h3>
    <h3>вт, чт, сб с 09:00 до 22:00</h3>
    <h1>Контакты</h1>
    <h3>+7 (938) 438-01-47</h3>
    <h3>+7 (928) 447-19-41</h3>
  </div>
</div>

