<div class="coach">
  <h1>Наш тренерский состав</h1>
  <div [ngClass]="{'coach1-mobile' : innerWidth < '920', 'coach1':  innerWidth > '920'}">
    <div [ngClass]="{'kirill-mobile' : innerWidth < '920', 'kirill':  innerWidth > '920'}">
      <div [ngClass]="{'photo-mobile' : innerWidth < '920', 'photo':  innerWidth > '920'}">
        <img src="/assets/kirill.jpg" alt="kirill">
      </div>
      <h3 style="color: #ad030b" class="name">Кирилл Ефремов</h3>
      <div [ngClass]="{'descriptor-block-mobile' : innerWidth < '920', 'descriptor-block':  innerWidth > '920'}">
        <div [ngClass]="{'descriptor-mobile' : innerWidth < '920', 'descriptor':  innerWidth > '920'}">
          <h5>Тренер по тхэквондо/ кикбоксингу/ боксу</h5>
          <p>Чемпион Мира по тхэквондо</p>
          <p>Победитель кубка Мира по кикбоксингу</p>
          <p>Чемпион России по тхэквондо</p>
          <p>Многократный призер российских и международных турниров по кикбоксингу и
            тхэквондо</p>
          <p>Обладатель черного пояса по тхэквондо 3 дан</p>
          <p>Профильное высшее образование</p>
          <p>Дальневосточная государственная академия физической культуры</p>
          <p>Институт развития образования Республики Татарстан, тренер по тхэквандо и кикбоксингу</p>
          <p>Московский институт современного академического образования, учитель физической культуры</p>
        </div>
      </div>
    </div>
    <div [ngClass]="{'anna-mobile' : innerWidth < '920', 'anna':  innerWidth > '920'}">
      <div [ngClass]="{'photo-mobile' : innerWidth < '920', 'photo':  innerWidth > '920'}">
        <img src="/assets/anna.jpg" alt="anna">
      </div>
      <h3 style="color: #ad030b" class="name">Анна Левковская</h3>
      <div [ngClass]="{'descriptor-block-mobile' : innerWidth < '920', 'descriptor-block':  innerWidth > '920'}">
        <div [ngClass]="{'descriptor-mobile' : innerWidth < '920', 'descriptor':  innerWidth > '920'}">
          <h5>Тренер по фитнесу/ кикбоксингу/ тхэквондо</h5>
          <p>Мастер спорта Республики Беларусь по кикбоксингу</p>
          <p>Призер Чемпионата мира по тхэквондо </p>
          <p>Призер Кубка мира по кикбоксингу</p>
          <p>Многократный призер российских и международных турниров по кикбоксингу и
            тхэквондо</p>
          <p>Обладатель черного пояса 1 дан по тхэквондо</p>
          <p>Профильное высшее образование</p>
          <p>Ассоциация профессионалов фитнеса (FPA), персональный тренер</p>
          <p>Институт развития образования Республики Татарстан.
            Тренер по тхэквондо и кикбоксингу.</p>
        </div>
      </div>
    </div>
    <div [ngClass]="{'marina-mobile' : innerWidth < '920', 'marina':  innerWidth > '920'}">
      <div [ngClass]="{'photo-mobile' : innerWidth < '920', 'photo':  innerWidth > '920'}">
        <img src="/assets/marina.JPG" alt="marina">
      </div>
      <h3 style="color: #ad030b" class="name">Марина Ефремова</h3>
      <div [ngClass]="{'descriptor-block-mobile' : innerWidth < '920', 'descriptor-block':  innerWidth > '920'}">
        <div [ngClass]="{'descriptor-mobile' : innerWidth < '920', 'descriptor':  innerWidth > '920'}">
          <h5>Тренер по фитнесу</h5>
          <p>Профильное высшее образование</p>
          <p>Хабаровский Государственный Медицинский институт</p>
          <p>Московская Академия бодибилдинга и фитнеса</p>
          <p>Классика бодибилдинга</p>
          <p>Пилатес</p>
          <p>Фитнес с отягощением</p>
          <p>Функциональные тренировки</p>
          <p>Интервальные тренировки</p>
          <p>Программы похудения</p>
          <p>Дневник питания под индивидуальные задачи</p>
          <p>Лечебно- профилактические тренировки (профилактика сколиоза, кифоза, остеохондроза)</p>
        </div>
      </div>
    </div>
  </div>
</div>
