<div class="bgimg1">
  <h1>Персональные и групповые тренировки для мужчин по боксу (кикбоксингу)</h1>
  <button>
    <a href="#contacts" style="text-decoration: none; color: white;">Записаться</a>
  </button>
</div>
<div class="bgimg2">
  <div class="description">
    <h3>Секция кикбоксинга – зрелищный вид спорта, так как данное единоборство симбиоз ударов (kick) и боксирования (boxing). </h3>
    <h2>Основу занятий в секции составляет:</h2>
    <p>изучение боксерской техники ударов руками</p>
    <p>изучение восточной техники ударов ногами (на основе техники тхэквондо)</p>
    <p>развитие навыков тактического мышления ведения поединка</p>
    <p>тренировка высокой функциональной (физической) подготовки</p></div>
</div>
<div class="bgimg4">
  <h1>Запишись к нам на занятие</h1>
  <h3>+7 (938) 438-01-47</h3>
  <h3>+7 (928) 447-19-41</h3>
</div>
<div class="bgimg1">
  <h2>Мы ждем тебя</h2>
</div>



