<div class="qualities" id="qualities">
  <h1 class="quality-title" [ngClass]="{'quality-title-mobile' : innerWidth < '620', 'quality-title':  innerWidth > '620'}">Тренируйся с комфортом</h1>
  <div class="description">
    <p> <span [ngClass]="{'num-mobile' : innerWidth < '650', 'num' : innerWidth >= '650'}">1</span> Спорт и фитнес в шаговой доступности</p>
    <p> <span [ngClass]="{'num-mobile' : innerWidth < '650', 'num' : innerWidth >= '650'}">2</span> Кафе правильного питания и спортзал в одном помещении</p>
    <p> <span [ngClass]="{'num-mobile' : innerWidth < '650', 'num' : innerWidth >= '650'}">3</span> Поддержка физической формы и улучшение состояния здоровья</p>
    <p> <span [ngClass]="{'num-mobile' : innerWidth < '650', 'num' : innerWidth >= '650'}">4</span> Обучение самообороне, а также концентрации и спокойствию</p>
    <p> <span [ngClass]="{'num-mobile' : innerWidth < '650', 'num' : innerWidth >= '650'}">5</span> Работа над всеми группами мышц, улучшение гибкости и осанки</p>
    <p> <span [ngClass]="{'num-mobile' : innerWidth < '650', 'num' : innerWidth >= '650'}">6</span> Разрядка от накопившихся эмоций </p>
    <p> <span [ngClass]="{'num-mobile' : innerWidth < '650', 'num' : innerWidth >= '650'}">7</span> Повышение скорости реакции и тонуса тела</p>
  </div>
</div>

