<app-header></app-header>
<div class="bgimg1">
  <div class="line">
    <h1 style="padding-bottom: 20px">Персональные и групповые занятия для девушек по направлениям</h1>
    <div class="styles">
      <h3>Фитнес MIX</h3>
      <h3>Пилатес</h3>
      <h3>HOT IRON</h3>
      <h3>Самооборона</h3>
      <h3>Танцы</h3>
      <h3>Йога</h3>
    </div>
  </div>
  <button>
    <a href="#contacts" style="text-decoration: none; color: white;">Записаться</a>
  </button>
</div>
<div class="bgimg2">
  <div class="description">
    <h3>Тренировки ФИТНЕС MIX - это сочетание лучших элементов из разных направлений фитнеса. А это значит, что каждое занятие будет необычным и непредсказуемым! </h3>
    <h2>Вас ждут:</h2>
    <p>круговые тренировки</p>
    <p>степ</p>
    <p>функциональные тренировки</p>
    <p>памп аэробика</p>
    <p>стретчинг</p>
    <p>тайбо (подходит и для похудения, и для набора мышечной массы)</p>
  </div>
</div>
<div class="bgimg3">
  <div class="description">
    <h3>Пилатес - это про качество движения тела </h3>
    <h2>Только когда ваше тело двигается эффективно - вы можете позволить себе заниматься любой активностью, любым видом спорта без нагрузки на опорно-двигательный аппарат, получая пользу и не травмируя связки и суставы</h2>
    <p>Пилатес - это методика занятий, которая не просто подходит, а нужна абсолютно каждому человеку, вне зависимости от пола, возраста и уровня подготовки.</p>
  </div>
</div>
<div class="bgimg33">
  <div class="description">
    <h3>Хот  Айрон — современная комплексная фитнес программа, разработанная инструкторами Reebok совместно с медиками и психологами Медицинского университета Дюссельдорфа </h3>
    <h2>Вот некоторые из ёё положений:</h2>
    <p>Силовая тренировка гораздо эффективнее для сжигания жира, нежели тренировка на выносливость</p>
    <p>Сокращение потребления калорий (различные диеты) без правильных физических нагрузок в долгосрочной перспективе не дают эффекта по сжиганию жира</p>
    <p>При силовой тренировке сжиросжигающий эффект начинается с самого начала занятия и продолжается в течение 24 часов после окончания тренировки</p>
    <p>Наряду с укреплением тела силовая тренировка способствует усилению и активизации имунной системы, увеличивает сопротивляемость организма заболеваниям</p>
    <p>Повышение плотности костной ткани, стимулирование пищеварения, снижение артериального давления в состоянии покоя, укрепление осанки, улучшение состояния нервной системы</p>
  </div>
</div>
<div class="bgimg4">
  <h1>Запишись к нам на занятие</h1>
  <h3>+7 (938) 438-01-47</h3>
  <h3>+7 (928) 447-19-41</h3>
</div>
<div class="bgimg1">
  <div class="line">
    <div class="lin">
      <h2>На занятии используется различное оборудование, что позволяет при желании увеличить или, наоборот, снизить нагрузку</h2>
    </div>
  </div>
</div>

<app-coach></app-coach>
<app-women></app-women>
<app-contacts></app-contacts>
<app-footer></app-footer>
<button [ngClass]="{'back-mobile' : innerWidth < '560', 'back':  innerWidth > '560'}" (click)="onClick($event, 'main')"><mat-icon>reply</mat-icon></button>


