button.back {
  min-width: 55px !important;
  position: fixed;
  opacity: 0.7;
  top: 87px;
  left: 50px;
}


button.back-mobile {
  min-width: 55px !important;
  position: fixed;
  opacity: 0.7;
  bottom: 30px;
  left: 30px;
}
