<div class="about">
  <div class="about-info">
    <h1>О нас</h1>
    <img src="assets/about.jpg" alt="about">
    <div class="descriptor-text">
      <p>Мы - команда профессионалов, имеющих специальную подготовку и богатый опыт по ведению занятий.
        Наша основная цель - найти индивидуальный подход к каждому и обеспечть максимально возможную
        нагрузку для улучшения здоровья и спортивного внешнего вида.</p>
      <p>В нашем клубе Вы сможете найти себя в любом спортивном направлении.
        Наши специалисты проводят индивидуальные и групповые занятия как со взрослыми, так и с детьми от 4-х лет.</p>
    </div>
    <h3>Направления</h3>
    <div class="styles">
      <p>Фитнес mix</p>
      <p>Пилатес</p>
      <p>Hot Iron</p>
      <p>Самооборона для девушек</p>
      <p>Единоборства для мужчин (бокс/ кикбоксинг)</p>
      <p>Тхэквондо для детей</p>
      <p>Танцы</p>
      <p>Йога</p>
    </div>
  </div>
</div>
