.about {
  height: fit-content;
  width: 100%;
  background-color: #4544582e;
}


.about-info h1 {
  text-align: center;
  font-weight: bold;
  font-size: 36px;
  text-transform: uppercase;
  padding-top: 60px;
}

.about-info h3 {
  font-weight: 600;
  font-size: 24px;
  text-transform: uppercase;
  margin-top: 25px;
  text-align: center;
}

.styles {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 45px;
}

.styles p {
  margin: 0;
  font-size: 16px;
}

.descriptor-text p {
  text-align: center;
  font-size: 19px;
  font-weight: normal;
}

.descriptor-text {
  padding-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;
}

img {
  width: 42%;
  min-width: 250px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  border: 3px solid white;
}
